@import 'tailwindcss';

/* autofill fixes */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #fff !important; /* force white text */
  caret-color: #fff !important;
  transition: background-color 9999s ease-in-out 0s;
}

html, body {
  overflow: auto;               /* Keep scrolling functional */
  -ms-overflow-style: none;     /* IE and Edge */
  scrollbar-width: none;        /* Firefox */
}

/* Chrome, Safari, new Edge */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.navlink {
  transition: all 0.2s;
  position: relative;
}

.navlink::after {
  content:'';
  transition: all 0.3s;
  opacity:0;
  height: 2px;
  width:100%;
  background-color: #d3aef6;
  position: absolute;
  bottom:0;
  left:0;
}

.navlink:hover::after {
  opacity: 1;
}

